body {
  font-family: "Noto Sans KR", Helvetica, Arial, sans-serif;
  color: #828282;
}
.App {
  width: 100%;
  /* min-width: 1100px; */
  margin: 0 auto;
  position: relative;
}
li { list-style: none; }
a { text-decoration: none; color: inherit; }
.header {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: space-around;
  height: 80px;
  align-items: center;
}
.header>h1>a{
  font-size: 36px;
  color: #fff;
  width: 300px;
}
.header>ul {
  padding-top: 1.8em;
  display: inline-block;
}
.header > ul > li {
  float: left;
  padding: 0 30px;
  transition: 0.5s;
  font-weight: bold;
  height: 38px;
  /* hover용도 */
  position: relative;
  overflow: hidden;
}
.clear::after {
  content: "";
  display: block;
  clear: both;
}
.header > ul > li > a {
  color: #fff;
  font-size: 18px;
}
.header > ul > li:hover {
  overflow: visible;
}
.header > ul > li:hover #sub_menu1,.header > ul > li:hover #sub_menu2 {
  display: flex;
  flex-direction: column;
  opacity: 1;
}
/* 서브메뉴 */
#sub_menu1 {
  transition: 0.5s;
  opacity: 0;
  position: absolute;
  margin-top: 10px;
  padding-left: 5px;
  font-size: 14px;
  font-weight: normal;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  width: 150px;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 2;
}
#sub_menu1 li {
  margin-top: 8px;
  padding-left: 4px;
  width: 136px;
  transition: 0.5s;
  border-radius: 10px;
}
#sub_menu1 li a, #sub_menu2 li a{
  color: #fff;
}
#sub_menu1 li:hover, #sub_menu2 li:hover {
  background-color: rgba(127, 127, 127, 0.5);
}
#sub_menu2 {
  transition: 0.5s;
  opacity: 0;
  position: absolute;
  margin-top: 10px;
  padding-left: 5px;
  font-size: 14px;
  font-weight: normal;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  width: 200px;
  height: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 2;
}
#sub_menu2 li {
  margin-top: 8px;
  padding-left: 4px;
  width: 196px;
  transition: 0.5s;
  border-radius: 10px;
}

/* 비디오 영상 */
/* #video_div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1111111111111111111111;
}
#video_div span {
  position: absolute;
  top: 600px;
  right: 380px;
  width: 30px;
  height: 30px;
  background-color: #666;
  z-index: 10;
}
#video_div span svg {
  opacity: 0.5;
  font-size: 30px;
  text-align: center;
  color: #fff;
  transition: 0.5s;
}
#video_div span svg:hover {
  opacity: 1;
  transform: scale(1.1);
}
video {
  position: absolute;
  top: 600px;
  left: 300px;
} */
#footer {
  background-color: #2D323D;
  color: #98a2aa;
  text-align: center;
}
#ft_text {
  font-size: 12px;
  padding-top: 20px;
}
#ft_text span {
  padding: 0 5px;
}
#ft_text span:not(:last-child){
  border-right: 1px solid #aaa;
}
#ft_copy {
  font-size: 14px;
  padding-bottom: 20px;
}